<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__VENV_BIN__/python</string>
    <string>-m</string>
    <string>agent_harness.cli</string>
    <string>serve</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AH_HOME</key>
    <string>__AH_HOME__</string>
    <key>PATH</key>
    <string>__PATH__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>StandardOutPath</key>
  <string>__AH_HOME__/logs/server.out.log</string>
  <key>StandardErrorPath</key>
  <string>__AH_HOME__/logs/server.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
